/* Подключение шрифтов */
@font-face {
    font-family: 'Constanta';
    src: url('fonts/constanb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mistral';
    src: url('fonts/MISTRAL.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stika';
    src: url('fonts/SitkaVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SitkaIt';
    src: url('fonts/SitkaVF-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Custom';
    src: url('fonts/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Constan';
    src: url('fonts/constan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Тело теста*/
.body {
    background: linear-gradient(#F9F1ED, #DCD2C7);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    align-items: center;
}

.main {
    width: 1300px;
    height: 1200px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0 10px 55px #7e746d;
    position: relative;
}

/*Верхняя часть сайта*/
.header {
    width: 100%;
    height: 160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/*Левая часть верхней части*/
.menuLeft {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 110px;
    padding-top: 55px;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 50px;
}


.question-text {
    font-family: 'Stika';
    font-size: 60px;
    color: #42383C;
    letter-spacing: 0px;
    margin-top: -10px;
     word-spacing: 10px;
}
.from-text {
    font-family: 'Stika';
    font-size: 35px;
    color: #42383C;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 5px;
}

.number {
     font-family: 'Mistral';
}

/*Центр верхней части*/
.navigation {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 188px;
    margin-top: 80px;
    white-space: nowrap;
}

.link-text {
    margin-left: auto;
    margin-right: auto;
    font-family: 'SitkaIt';
    font-size: 35px;
    color: #42383C;
    text-decoration: none !important;
}

/*Правая часть верхней части*/
.palka {
    margin-top: 10%;
    margin-left: 220px;
    width: 250px;
}



.btn-next {
position: absolute;
    font-family: 'Sitka';
    font-size: 20px;
    width: 134px;
    height: 57px;
    cursor: pointer;
    border: none;
    background-color: #948774;
    border-radius: 50px 0px 0px 0px;
}

.btn-next:hover {
    background-color: #3a5a80;
}

.btn-next:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.btn-back {
    background-color: #6c757d;
}

.btn-back:hover {
    background-color: #5a6268;
}







/*Нижняя часть сайта*/
.footer {
    background-color: #5B524D;
    width: 1300px;
    height: 220px;
    text-align: center;
    font-family: 'Stika';
    font-size: 26px;
    color: #C6AE91;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
