/* Подключение шрифтов */
@font-face {
    font-family: 'Constanta';
    src: url('fonts/constanb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mistral';
    src: url('fonts/MISTRAL.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stika';
    src: url('fonts/SitkaVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SitkaIt';
    src: url('fonts/SitkaVF-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Custom';
    src: url('fonts/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Constan';
    src: url('fonts/constan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Классы*/
.body {
    background: linear-gradient(#F9F1ED, #DCD2C7);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    align-items: center;
}

.main {
    width: 1300px;
    height: 5772.62px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0 10px 55px #7e746d;
    position: relative;
}

/*Верхняя часть сайта*/
.header {
    width: 100%;
    height: 160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/*Левая часть верхней части*/
.menuLeft {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 110px;
    padding-top: 55px;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.color-text {
    font-family: 'Mistral';
    font-size: 52px;
    color: #42383C;
    margin-bottom: 0px;
}

.space-text {
    font-family: 'Stika';
    font-size: 78px;
    color: #42383C;
    letter-spacing: 0px;
    margin-top: -10px;
}

/*Центр верхней части*/
.navigation {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 60px;
    margin-top: 80px;
    white-space: nowrap;
}

.link-text {
    font-family: 'SitkaIt';
    font-size: 26px;
    color: #42383C;
    text-decoration: none !important;
}



/*Правая часть верхней части*/
.palka {
    margin-top: 10%;
    margin-left: 80px;
    width: 250px;
}

/*О нас и главная*/
.aboutUs {
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
    width: 1130px;
    height: 590px;
    border: 1px;
    border-radius: 100px 0px 100px 0px;
    border-style: solid;
    border-color: #736357;
    position: relative;
}

.aboutPhoto {
    width: 512px;
    height: 520px;
    border-radius: 100px 0px 100px 0px;
    background-color: #F9F9F9;
    position: absolute;
    left: 37px;
    top: 34px;
}

.aboutText {
    width: 457px;
    height: 435px;
    border-radius: 100px 0px 100px 0px;
    background-color: #F0EFEB;
    position: absolute;
    right: 50px;
    bottom: 34px;
    box-shadow: 0 25px 85px #b6b4ae88;
}

.welcome-text {
    font-family: 'Mistral';
    font-size: 50px;
    color: #524C4E;
    text-decoration: none !important;
    position: absolute;
}

.welcome-text2 {
    font-family: 'Arial';
    font-size: 21px;
    color: #42383C;
    text-decoration: none !important;
    position: absolute;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    text-indent: 100px;
    width: 340px;
}

.circles-container {
    height: 11px;
    width: 49px;
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 95px;
    right: 347px;
}

.circle {
    width: 20px;
    height: 7px;
    border-radius: 100px;
    background-color: #FFFFFF;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.circle.active {
    border-color: #736357;
}

.Button {
    width: 135px;
    height: 51px;
    border-radius: 0px 100px 0px 0px;
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-text {
    font-family: 'SitkaIt';
    font-size: 19px;
    color: #42383C;
    text-decoration: none !important;
}

/*Выбор цвета*/
.changeColor {
    width: 100%;
    height: 1000px;
    text-align: center;
    position: relative;
    display: flex;
}

.lineTop {
    position: absolute;
    width: 1300px;
    height: 244px;
    background-image: url(images/тест/что\ будет/Без/ленты/верх.png);
    margin-right: 0px;
    margin-top: 30px;
    z-index: 9999;
}

.lineBottom {
    position: absolute;
    width: 1300px;
    height: 245px;
    background-image: url(images/тест/что\ будет/Без/ленты/низ.png);
    margin-right: 0px;
    margin-top: 890px;
    z-index: 9999;
}

.quickCC-text {
    width: 208px;
    height: 166px;
    font-family: 'Sitka';
    color: #42383C;
    flex-direction: column;
    line-height: 55px;
    position: absolute;
    margin-top: 264px;
    margin-left: 153px;
}

.colorButton {
    position: absolute;
    border: none;
    background-size: cover;
    border-radius: 20px;
    cursor: pointer;
    height: 58.43px;
}

.firstRow {
    width: 109px;
    margin-left: 148px;
}

.secondRow {
    width: 76.38px;
    margin-left: 310px;
}

.thirdRow {
    width: 62.58px;
    margin-left: 438px;
}

.fourthRow {
    width: 62.58px;
    margin-left: 543px;
}

.confirmColor {
    width: 585px;
    height: 433px;
    border-radius: 150px 0px 0px 150px;
    background-color: #F9F9F9;
    position: absolute;
    right: 0;
    top: 341px;
}

.clearButton {
    width: 135px;
    height: 51px;
    border-radius: 100px 0px 0px 0px;
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    right: 310px;
    bottom: 34px;
}

.toResultButton {
    position: absolute;
    width: 380px;
    height: 46px;
    border-radius: 30px 0px 0px 30px;
    right: 0;
    top: 790px;
    box-shadow: 0px 10px 100px #ada39c6c;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none !important;
}

.trt {
    font-family: 'Inter';
    font-size: 21px;
    color: #5B524D;
}


.test {
    width: 100%;
    height: 970px;
    background-color: #ffffff;
    align-items: center;
    position: relative;
    scroll-margin-top: -45px;

}

.testButton {
    position: absolute;
    width: 100%;
    height: 570px;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-decoration: none !important;
    clip-path: inset(50px 0 0 0);
}

.startTest-text {
    color: #42383C;
    margin: auto;
    font-family: 'Sitka';
    text-align: center;
    line-height: 55px;
}

.flower {
    position: absolute;
    width: 1075px;
    height: 382px;
    background-image: url(images/тест/что\будет/Без/цветы.png);
    margin-left: 97.75px;
    margin-right: auto;
    margin-top: 135px;
}

.result1 {
    width: 433px;
    height: 445px;
    background-image: url(images/тест/что\ будет/Без/личность.jpg);
    position: absolute;
    bottom: 0;
}

.result2 {
    width: 434px;
    height: 445px;
    background-image: url(images/тест/что\ будет/Без/влияние.jpg);
    position: absolute;
    bottom: 0;
    left: 433px;
}

.result3 {
    width: 433px;
    height: 445px;
    background-image: url(images/тест/что\ будет/Без/музыка.jpg);
    position: absolute;
    bottom: 0;
    left: 866px;
}

.res1-3 {
    width: 433px;
    height: 223px;
    background-color: #ffffffcf;
    position: absolute;
    bottom: 0;
}


.description {
    width: 354px;
    font-family: 'Constan';
    position: absolute;
    text-align: left;
}

.welcome-text-1 {
    top: 74px;
    right: 77px;
}

.welcome-text2-1 {
    top: 195px;
    right: 108px;
}

.welcome-text2-2 {
    top: 95px;
    right: 240px;
    font-size: 24px;
}

.welcome-text-2 {
    top: 127px;
    left: 104px;
    font-size: 87px;
    color: #e2e1df;
}

.button-1 {
    right: 116px;
    bottom: 76px;
}

.button-2 {
    right: 120px;
    bottom: 34px;
}

.quickCC-large {
    font-size: 100px;
}

.quickCC-small {
    font-size: 40px;
}

.quickCC-img {
    margin-top: 36px;
}

.startTest-large {
    font-size: 58px;
    margin-bottom: 0px;
}

.startTest-small {
    font-size: 31px;
    margin-top: 0px;
}

/* Стили для позиционирования цветных кнопок */
.colorButton.top-559 {
    margin-top: 559px;
}

.colorButton.top-656 {
    margin-top: 656px;
}

.colorButton.top-761 {
    margin-top: 761px;
}


.desc-title {
    font-size: 34px;
    bottom: 132px;
    left: 40px;
}

.desc-text {
    font-size: 21px;
    bottom: 40px;
    left: 40px;
}

/* Стили для цветов кнопок */
.color-orange {
    background-color: #DD9166;
    box-shadow: 0 5px 50px #DD9166;
}

.color-red {
    background-color: #E27D7D;
    box-shadow: 0 5px 50px #E27D7D;
}

.color-burgundy {
    background-color: #964E4E;
    box-shadow: 0 5px 50px #964E4E;
}

.color-yellow {
    background-color: #F7C977;
    box-shadow: 0 5px 50px #F7C977;
}

.color-pink {
    background-color: #F9AAAB;
    box-shadow: 0 5px 50px #F9AAAB;
}

.color-turquoise {
    background-color: #87CCBE;
    box-shadow: 0 5px 50px #87CCBE;
}

.color-green {
    background-color: #BECC96;
    box-shadow: 0 5px 50px #BECC96;
}

.color-purple {
    background-color: #BC9FE2;
    box-shadow: 0 5px 50px #BC9FE2;
}

.color-blue {
    background-color: #90A2DD;
    box-shadow: 0 5px 50px #90A2DD;
}

.color-gray {
    background-color: #CBCBC9;
    box-shadow: 0 5px 50px #CBCBC9;
}

.color-brown {
    background-color: #8B7965;
    box-shadow: 0 5px 50px #8B7965;
}

.color-black {
    background-color: #606060;
    box-shadow: 0 5px 50px #606060;
}

.mwl {
    width: 100%;
    height: 400px;
    position: relative;
}

.mwl-text {
    position: absolute;
    font-family: 'Stika';
    font-size: 78px;
    color: #42383C;
    top: 123px;
    left: 440px;
}

.wot-text {
    position: absolute;
    font-family: 'Mistral';
    font-size: 47.25px;
    color: #EED7C4;
    top: 200px;
    left: 543.5px;
}


.palkamwl {
    position: absolute;
    width: 247px;
    top: 276.64px;
    left: 526px;
    height: auto;
}

.team {
    width: 100%;
    height: 2172px;
}

.ksa {
    position: relative;
    width: 100%;
    height: 724px;
}

.border1 {
    position: absolute;
    width: 591.94px;
    height: 621.11px;
    left: 67px;
}

.imgK {
    position: absolute;
    width: 500px;
    height: 512px;
    border-radius: 100px 0px 100px 0px;
    background-image: url(images/команда/кати.jpg);
    left: 77px;
    top: 27.5px;
}

.imgS {
    position: absolute;
    width: 500px;
    height: 430px;
    border-radius: 100px 0px 100px 0px;
    background-image: url(images/команда/софа.jpg);
    left: 77px;
    top: 60px;
}

.aboutKS {
    position: absolute;
    width: 721px;
    height: 436.36px;
    border-radius: 100px 0px 0px 0px;
    background-color: #F0EFEB;
    right: 0;
    top: 88.5px;
    box-shadow: 0 5px 50px #F0EFEB;
}

.postsKSA {
    position: absolute;
    width: 300px;
    height: 20px;
    font-family: 'Sitka';
    font-size: 16px;
    color: #C6AE91;
    top: 46px;
    left: 94px;
}

.bull {
    position: absolute;
    width:60px;
    height: 60px;
    background-image: url(images/украшения/бык.png);
    right: 20px;
    bottom: 20px;
}

.nameKSA {
    position: absolute;
    width: 300px;
    height: 50px;
    font-family: 'Constanta';
    font-size: 35px;
    color: #42383C;
    top: 66px;
    left: 89px;
}

.textKSA {
    position: absolute;
    width: 600px;
    height: 160px;
    font-family: 'Arial';
    font-size: 20px;
    color: #42383C;
    top: 137px;
    left: 79px;
}

/*Альбина*/
.border2 {
    position: absolute;
    width: 591.94px;
    height: 621.11px;
    right: 67px;
}

.imgA {
    position: absolute;
    width: 454px;
    height: 430px;
    border-radius: 100px 0px 100px 0px;
    background-image: url(images/команда/аля.jpg);
    right: 100px;
    top: 70px;
}

.aboutA {
    position: absolute;
    width: 721px;
    height: 436.36px;
    border-radius: 0px 100px 0px 0px;
    background-color: #F0EFEB;
    left: 0;
    top: 88.5px;
    box-shadow: 0 5px 50px #F0EFEB;
}

.buttonA {
    position: absolute;
    font-family: 'Sitka';
    font-size: 20px;
    width: 134px;
    height: 57px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    left: 88px;
    bottom: 46px;
    border-radius: 0px 50px 0px 0px;
}

html {
    scroll-behavior: smooth;
}

/*Нижняя часть сайта*/
.footer {
    background-color: #5B524D;
    width: 1300px;
    height: 220px;
    text-align: center;
    font-family: 'Stika';
    font-size: 26px;
    color: #C6AE91;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gmail {
    font-family: 'Stika';
    font-size: 26px;
    color: #ffffffd6;
}

/* Плавные переходы для всех элементов темы */
.body,
.color-text,
.space-text,
.link-text,
.button-text,
.welcome-text,
.welcome-text2,
.desc-title,
.desc-text,
.nameKSA,
.textKSA,
.postsKSA,
.mwl-text,
.wot-text,
.gmail,
.startTest-text,
.quickCC-large,
.quickCC-small,
.Button,
.buttonKS,
.buttonA,
.footer,
.aboutText,
.aboutKS,
.aboutA,
.confirmColor {
    transition: color 0.5s ease-in-out,
        background-color 0.5s ease-in-out,
        background 0.5s ease-in-out,
        background-image 0.5s ease-in-out;
}