/* Подключение шрифтов */
@font-face {
    font-family: 'Constanta';
    src: url('fonts/constanb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mistral';
    src: url('fonts/MISTRAL.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stika';
    src: url('fonts/SitkaVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SitkaIt';
    src: url('fonts/SitkaVF-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Arial Custom';
    src: url('fonts/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Constan';
    src: url('fonts/constan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*Классы*/
.body {
    background: linear-gradient(#F9F1ED, #DCD2C7);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    align-items: center;
}

.main {
    width: 1300px;
    height: 5772.62px;
    background-color: #FFFFFF;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    box-shadow: 0 10px 55px #7e746d;
    position: relative;
}

/*Верхняя часть сайта*/
.header {
    width: 100%;
    height: 160px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    /*центрирование по горизонтали*/
}


/*Левая часть верхней части*/
.menuLeft {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    padding-left: 110px;
    padding-top: 55px;

}

.brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.color-text {
    font-family: 'Mistral';
    font-size: 52px;
    color: #42383C;
    margin-bottom: 0px;
    /* Небольшой отступ между строками */
}

.space-text {
    font-family: 'Stika';
    font-size: 78px;
    color: #42383C;
    letter-spacing: 0px;
    /*тут оказался не нужен, но пример пробелов между буквами*/
    margin-top: -10px;
}

/*Центр верхней части*/
.navigation {
    display: flex;
    gap: 45px;
    /* расстояние между элементами */
    justify-content: center;
    /* Центрируем всю навигацию */
    align-items: center;
    text-align: center;
    /*центрирование по вертикали*/
    margin-left: 60px;
    margin-top: 80px;
    white-space: nowrap;
}


.link-text {
    font-family: 'SitkaIt';
    font-size: 26px;
    color: #42383C;
    text-decoration: none !important;
}


/*Правая часть верхней части*/
.palka {
    margin-top: 10%;
    margin-left: 80px;
    width: 250px;
}


/*О нас и главная*/
.aboutUs {
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
    width: 1130px;
    height: 590px;
    border: 1px;
    border-radius: 100px 0px 100px 0px;
    border-style: solid;
    border-color: #736357;
    position: relative;
}

.aboutPhoto {
    width: 512px;
    height: 520px;
    border-radius: 100px 0px 100px 0px;
    background-color: #F9F9F9;
    position: absolute;
    left: 37px;
    top: 34px;
}

.aboutText {
    width: 457px;
    height: 435px;
    border-radius: 100px 0px 100px 0px;
    background-color: #F0EFEB;
    position: absolute;
    right: 50px;
    bottom: 34px;
}

.welcome-text {
    font-family: 'Mistral';
    font-size: 50px;
    color: #524C4E;
    text-decoration: none !important;
    position: absolute;
}

.welcome-text2 {
    font-family: 'Arial';
    font-size: 21px;
    color: #42383C;
    text-decoration: none !important;
    position: absolute;
    text-align: justify;
    text-justify: inter-word;
    /*Равномерное распределение пробелов*/
    hyphens: auto;
    /*Автоперенос слов*/
    text-indent: 100px;


}

.circles-container {
    height: 11px;
    width: 49px;
    display: flex;
    gap: 8px;
    /* Расстояние между кружочками */
    position: absolute;
    bottom: 95px;
    right: 347px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 11px;
    /* Радиус 11px */
    background-color: #FFFFFF;
    /* Цвет кружочков */
}

.Button {
    width: 135px;
    height: 51px;
    border-radius: 0px 100px 0px 0px;
    background-color: #FFFFFF;
    border: none;
    position: absolute;

    display: flex;
    align-items: center;
    /*центрирование по горизонтали*/
    justify-content: center;
    /*центрирование по вертикали*/
    cursor: pointer;

}

.button-text {
    font-family: 'SitkaIt';
    font-size: 19px;
    color: #42383C;
    text-decoration: none !important;

}

/*Выбор цвета*/
.changeColor {
    width: 100%;
    height: 1016px;
    text-align: center;
    position: relative;

    display: flex;
    /*background-color: #524C4E;*/
}

.quickCC-text {
    width: 208px;
    height: 166px;
    font-family: 'Sitka';
    color: #42383C;
    flex-direction: column;
    line-height: 55px;
    position: absolute;
    margin-top: 264px;
    margin-left: 153px;
}

.colorButton {
    position: absolute;
    border: none;
    background-size: cover;
    border-radius: 20px;
    cursor: pointer;
    height: 58.43px;
}

.firstRow {
    width: 109px;
    margin-left: 148px;
}

.secondRow {
    width: 76.38px;
    margin-left: 310px;
}

.thirdRow {
    width: 62.58px;
    margin-left: 438px;
}

.fourthRow {
    width: 62.58px;
    margin-left: 543px;

}


.confirmColor {
    width: 585px;
    height: 433px;
    border-radius: 150px 0px 0px 150px;
    background-color: #F9F9F9;
    position: absolute;
    right: 0;
    top: 341px;
}

.test {
    width: 100%;
    height: 1016px;
    /*background-color: #C6AE91;*/
    align-items: center;
    position: relative;
}

.testButton {
    position: absolute;
    width: 100%;
    height: 570px;
    cursor: pointer;
    
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.startTest-text {
    margin: auto;
    font-family: 'Sitka';
    text-align: center;
    line-height: 55px;
}

.firstFlower {
    position: absolute;
    width: 138px;
    height: 319.76px;
    background-image: url(images/цветыТест/желтЛев.jpg);
    margin-left: 97.49px;
    margin-top: 227.7px;
}

.secondFlower {
    position: absolute;
    width: 129px;
    height: 299.3px;
    background-image: url(images/цветыТест/розЛев.jpg);
    margin-left: 303.61px;
    margin-top: 248.19px;
}

.thirdFlower {
    position: absolute;
    width: 117.18px;
    height: 331.17px;
    background-image: url(images/цветыТест/желтПрав.jpg);
    margin-left: 828px;
    margin-top: 221.62px;
}

.fourthFlower {
    position: absolute;
    width: 93.32px;
    height: 265px;
    background-image: url(images/цветыТест/оранжПрав.jpg);
    right: 212.87px;
    top: 287.56px;
}

.fifthFlower {
    position: absolute;
    width: 106.19px;
    height: 381.52px;
    background-image: url(images/цветыТест/розПрав.jpg);
    right: 111.96px;
    top: 171.2px;
}

/*Нижняя часть сайта*/
.footer {
    background-color: #5B524D;
    width: 1300px;
    height: 220px;

    text-align: center;
    font-family: 'Stika';
    font-size: 26px;
    color: #C6AE91;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 20px 20px 0 0;

    display: flex;
    align-items: center;
    /*центрирование по горизонтали*/
    justify-content: center;
    /*центрирование по вертикали*/
    flex-direction: column;
    /*расположение друг под другом*/
}

/*сделать отдельно для текста*/
.contact-text {}

.mainFooter-text {}

.gmail {}